@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Medium Italic"),
      local("GigaSans-MediumItalic"),
      url("~/assets/fonts/GigaSans-MediumItalic.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-MediumItalic.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Bold Italic"),
      local("GigaSans-BoldItalic"),
      url("~/assets/fonts/GigaSans-BoldItalic.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-BoldItalic.woff") format("woff");
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Semi Bold Italic"),
      local("GigaSans-SemiBoldItalic"),
      url("~/assets/fonts/GigaSans-SemiBoldItalic.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-SemiBoldItalic.woff") format("woff");
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans"),
      local("GigaSans-Regular"),
      url("~/assets/fonts/GigaSans-Regular.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Bold"),
      local("GigaSans-Bold"),
      url("~/assets/fonts/GigaSans-Bold.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Medium"),
      local("GigaSans-Medium"),
      url("~/assets/fonts/GigaSans-Medium.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Italic"),
      local("GigaSans-Italic"),
      url("~/assets/fonts/GigaSans-Italic.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Giga Sans";
   src:
      local("Giga Sans Semi Bold"),
      local("GigaSans-SemiBold"),
      url("~/assets/fonts/GigaSans-SemiBold.woff2") format("woff2"),
      url("~/assets/fonts/GigaSans-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Beret LT Std";
   src:
      local("Beret LT Std Bold"),
      local("BeretLTStd-Bold"),
      url("~/assets/fonts/BeretLTStd-Bold.woff2") format("woff2"),
      url("~/assets/fonts/BeretLTStd-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Beret LT Std";
   src:
      local("Beret LT Std Bold Italic"),
      local("BeretLTStd-BoldItalic"),
      url("~/assets/fonts/BeretLTStd-BoldItalic.woff2") format("woff2"),
      url("~/assets/fonts/BeretLTStd-BoldItalic.woff") format("woff");
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}

body,
html {
   @apply min-w-[340px] h-full scroll-smooth;
}

body {
   @apply max-w-[1800px] mx-auto;
}

#__nuxt {
   @apply relative font-Giga overflow-x-hidden;
}

.burger:hover span {
   @apply bg-[#F98076];
}

.breadcrumbs__item:not(.breadcrumbs__item.active)::after {
   @apply content-['/'] inline-block mx-[10px] text-sm leading-normal text-border;
}

.breadcrumbs__item:hover > .breadcrumbs__link {
   @apply text-tertiary;
}

.breadcrumbs__item.active > .breadcrumbs__link {
   @apply font-Giga text-secondary;
}

.hidden:checked + * {
   @apply font-medium text-secondary;
}

.filter__sort-btn::before {
   @apply content-[''] absolute top-1/2 right-0 block w-2 h-px bg-tertiary rotate-[40deg] translate-y-[-3px] transition-all lg:content-none lg:hidden;
}

.filter__sort-btn::after {
   @apply content-[''] absolute top-1/2 right-0 block w-2 h-px bg-tertiary rotate-[320deg] translate-y-[2px] transition-all lg:content-none lg:hidden;
}

.filter__sort:hover .filter__sort-btn::before,
.filter__sort:hover .filter__sort-btn::after {
   @apply bg-secondary;
}

.filter__sort.active .filter__sort-btn::before,
.filter__sort.active .filter__sort-btn::after {
   @apply bg-secondary;
}

.filter__sort.active .filter__sort-drobdown {
   @apply flex;
}

.filter__sort.active .filter__sort-btn::before {
   @apply rotate-[130deg] translate-x-[3px] translate-y-[1px];
}

.filter__sort.active .filter__sort-btn::after {
   @apply rotate-[410deg] translate-x-[-2px] translate-y-[1px];
}

.filter__label:hover > span {
   @apply text-secondary transition-all;
}

.filter__sort:nth-child(3),
.filter__sort:nth-child(4) {
   @apply border-t-0;
}

.favoriteItem {
   display: grid;
   grid-template-areas:
      "img options remove"
      "count count count";
   grid-template-columns: 70px 1fr 15%;
}

.favoriteItem__img {
   grid-area: img;
}

.favoriteItem__option {
   grid-area: options;
}

.favoriteItem__count {
   grid-area: count;
}

.favoriteItem__remove {
   grid-area: remove;
}

@media (min-width: 576px) {
   .favoriteItem {
      grid-template-areas: "img options count remove";
      grid-template-columns: 70px 1fr 100px 50px;
   }
}

.menu__drobdown-title.active + .menu__drobdown-submenu {
   @apply flex;
}

.menu__drobdown-title.active::before {
   border-top: 0 solid transparent;
   border-right: 4px solid transparent;
   border-bottom: 6px solid #f98076;
   border-left: 4px solid transparent;
}

.backetItem {
   grid-template-areas: "img name remove" "count count count";
   grid-template-columns: 70px 1fr 15%;
}
.backetItem__img {
   grid-area: img;
}
.backetItem__name {
   grid-area: name;
}
.backetItem__count {
   grid-area: count;
}
.backetItem__remove {
   grid-area: remove;
}

@media (min-width: 992px) {
   .backetItem {
      grid-template-areas: "img name count remove";
      grid-template-columns: 70px 1fr 0.9fr 80px;
   }
}
